<div class="uciid-container">
  <div class="img-and-text">
    <div>
      <div class="logo"><img src="assets/images/partners/uci-logo.svg" alt="logo" /></div>
      <div class="foto"><img src="assets/images/riders/uni.jpeg" alt="" /></div>
    </div>
    <div class="text-container">
      <div class="text-2xl mt-8">
        <h2>LICENCE ČLENA ČESKÉHO SVAZU CYKLISTIKY</h2>
      </div>
      <div class="mt-4">
        <label for="uciid-input ">Sem zadejte svoje UCI ID, které naleznete na své licenci</label>
      </div>
    </div>
  </div>

  <div id="message" class="container alert-container my-8" *ngIf="message">
    <div role="alert">
      <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
        Upozornění
      </div>
      <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
        <p>{{messageText}}</p>
      </div>
    </div>

  </div>

  <form method="POST">
    <div class="inputs-container">
      <div class="flex flex-row bd-highlight mb- justify-content-center flex-wrap">
        <div class="p-2 bd-highlight"><input type="number" class="input uciid-input" required min="0" max="9" #num1 [(ngModel)]="numbers[0]" (keyup)="nextNum($event, null, num1, num2)" (paste)="onPaste($event, num11)"
            placeholder="0" name="num1" maxlength="1" minlength="1"/></div>
        <div class="p-2 bd-highlight"><input type="number" class="input uciid-input" required min="0" max="9" #num2 [(ngModel)]="numbers[1]" (keyup)="nextNum($event, num1, num2, num3)"
            placeholder="0" name="num2" maxlength="1" minlength="1"/></div>
        <div class="p-2 bd-highlight"><input type="number" class="input uciid-input" required min="0" max="9" #num3 [(ngModel)]="numbers[2]" (keyup)="nextNum($event, num2, num3, num4)"
            placeholder="0" name="num3" maxlength="1" minlength="1"/></div>
        <div class="p-2 bd-highlight"><input type="number" class="input uciid-input" required min="0" max="9" #num4 [(ngModel)]="numbers[3]" (keyup)="nextNum($event, num3, num4, num5)"
            placeholder="0" name="num4" maxlength="1" minlength="1"/></div>
        <div class="p-2 bd-highlight"><input type="number" class="input uciid-input" required min="0" max="9" #num5 [(ngModel)]="numbers[4]" (keyup)="nextNum($event, num4, num5, num6)"
            placeholder="0" name="num5" maxlength="1" minlength="1"/></div>
        <div class="p-2 bd-highlight"><input type="number" class="input uciid-input" required min="0" max="9" #num6 [(ngModel)]="numbers[5]" (keyup)="nextNum($event, num5, num6, num7)"
            placeholder="0" name="num6" maxlength="1" minlength="1"/></div>
        <div class="p-2 bd-highlight"><input type="number" class="input uciid-input" required min="0" max="9" #num7 [(ngModel)]="numbers[6]" (keyup)="nextNum($event, num6, num7, num8)"
            placeholder="0" name="num7" maxlength="1" minlength="1"/></div>
        <div class="p-2 bd-highlight"><input type="number" class="input uciid-input" required min="0" max="9" #num8 [(ngModel)]="numbers[7]" (keyup)="nextNum($event, num7, num8, num9)"
            placeholder="0" name="num8" maxlength="1" minlength="1"/></div>
        <div class="p-2 bd-highlight"><input type="number" class="input uciid-input" required min="0" max="9" #num9 [(ngModel)]="numbers[8]" (keyup)="nextNum($event, num8, num9, num10)"
            placeholder="0" name="num9" maxlength="1" minlength="1"/></div>
        <div class="p-2 bd-highlight"><input type="number" class="input uciid-input" required min="0" max="9" #num10 [(ngModel)]="numbers[9]" (keyup)="nextNum($event, num9, num10, num11)"
            placeholder="0" name="num10" maxlength="1" minlength="1"/></div>
        <div class="p-2 bd-highlight"><input type="number" class="input uciid-input" required min="0" max="9" #num11 [(ngModel)]="numbers[10]" (keyup)="nextNum($event, num10, num11, null)"
            placeholder="0" name="num11" maxlength="1" minlength="1"/></div>
      </div>
    </div>
    <div class="d-flex flex-column bd-highlight mb-3">
      <div class="grid content-between mt-4">
        <button type="submit" name="submit" (click)="onButtonClicked()"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mx-5 rounded-full">Další krok</button>
      </div>
    </div>
  </form>
</div>

