<header class="dark:dark shadow">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold text-header">Seznam klubů</h1>
  </div>
</header>

<div class="max-w-7xl- mx-auto">

  <!-- This example requires Tailwind CSS v2.0+ -->
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="-mx-4 my-8 overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:-mx-6 md:mx-0 md:rounded-lg">
      <table class="min-w-full divide-y divide-gray-300">
        <thead class="bg-gray-50 dark:dark">
          <tr>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 dark:dark">
              Název klubu</th>
            <th scope="col"
              class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell dark:dark">Kraj</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 sm:hidden dark:dark">
              Kontakt</th>
            <th scope="col"
              class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 sm:table-cell dark:dark">Kontaktní
              osoba</th>
            <th scope="col"
              class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 sm:table-cell dark:dark">e-mail
            </th>
            <th scope="col"
              class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 sm:table-cell dark:dark">telefon
            </th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 bg-white">
          <tr *ngFor="let club of clubs">
            <td
              class="w-1/2 max-w-0 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 dark:dark sm:w-auto sm:max-w-none sm:pl-6">
              <a href="{% url 'club:club-detail' club.id %}">
                {{club.name | uppercase }}</a>
              <dl class="font-normal lg:hidden">
                <dt class="sr-only">Title</dt>
                <dd class="mt-1 truncate text-gray-700 dark:dark">{{club.region}}</dd>
              </dl>
            <td class="hidden px-3 py-4 text-sm text-gray-500 dark:dark lg:table-cell">
              {{club.region}}
            </td>
            <td
              class="w-1/2 max-w-0 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 dark:dark sm:w-auto sm:max-w-none sm:pl-6">
              {{club.contactPerson}}
              <dl class="font-normal sm:hidden">
                <dt class="sr-only">Title</dt>
                <dd class="mt-1 truncate text-gray-700 dark:dark">{{club.contactEmail}}</dd>
                <dt class="sr-only sm:hidden">Email</dt>
                <dd class="mt-1 truncate text-gray-500 dark:dark sm:hidden">{{club.contactPhone}}</dd>
              </dl>
            </td>
            <td class="hidden px-3 py-4 text-sm text-gray-500 dark:dark sm:table-cell">{{club.contactEmail}}</td>
            <td class="hidden px-3 py-4 text-sm text-gray-500 dark:dark sm:table-cell">{{club.contactPhone}}</td>
          </tr>

          <!-- More people... -->
        </tbody>
      </table>
    </div>
  </div>
</div>
